{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock title %}

{% block content %}
	<div class="container-fluid">
		<div class="row fh5co-post-entry">
			{% for post in posts %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{% url 'blog:post_detail' post.id %}"><img src="{{ post.image.url }}" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="{% url 'blog:post_category' name=post.category.name %}">{{ post.category }}</a></span>
				<h2 class="fh5co-article-title"><a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></h2>
				<span class="fh5co-meta fh5co-date">{{ post.posted }}</span>
			</article>
			{% endfor %}
			<div class="clearfix visible-xs-block"></div>
		</div>
	</div>
{% endblock content %}