{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock title %}

{% block content %}
	<div class="container-fluid">
		<div class="row fh5co-post-entry">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xxs-12 animate-box">
				<div class="success_message text-center">
                    <h2 style="color: red;">Your Message Send Successed. We will Response to You as soon as possible. Thank you!</h2 style="color: blue;">
                </div>
			</div>
			<div class="clearfix visible-xs-block"></div>
		</div>
	</div>
{% endblock content %}